li {
    display: inline-block;
    position: fixed;
    padding: 10px;
    position: relative;
    line-height: 3em;
    font-family: 'Merriweather', serif;
}

ul {
    float: right;
    /*text-transform: uppercase*/
}

a:link,
a:visited {
    color: black;
    padding: 14px 25px;
    text-decoration: none;
}

a:hover {
    text-decoration: ;
    text-shadow: 2px 2px 4px none;
}

.features {
    padding: 10px 50px 20px 260px;
  
}

.logo {
    padding: 15px 15px 5px 15px;
}

.logo-header {
    padding: 0px 10px 0px 660px;
}


/* SHADOW/GLOW TRANSITIONS */


/* Glow */

.hvr-glow {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


/* Shadow */

.hvr-shadow {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-shadow:hover,
.hvr-shadow:focus,
.hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
