li {
    display: inline-block;
    position: fixed;
    padding: 10px;
    position: relative;
    line-height: 3em;
    font-family: 'Merriweather', serif;
}

ul {
    float: right;
    /*text-transform: uppercase*/
}

a:link,
a:visited {
    color: black;
    padding: 14px 25px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px none;
}
//this is yassi//
div .green{
  height:100px;
  width:200px;
  background-color: green;

}
.hidden{
  display: hidden;
}


.mobilenav li {
  list-style-type: none;
  display: inline;
  text-align: center;
  padding: 10px;
}

.mobilenav li a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}

.mobilenav li:first-child {
  margin-top: 60px;
}
}